body{
  background-color:black;
  @media #{map-get($display-breakpoints, 'lg-and-down')}
  {
    font-size: 0.9rem;
  } 
  @media #{map-get($display-breakpoints, 'xl-only')}
  {
    font-size: 1.3rem;
  } 
}


a{
  text-decoration: none;
  color:inherit;
}

hr{
  margin-top:0.2rem;
  margin-bottom:0.2rem;
}
